APP_ENV=development # 'development' or 'production'
APP_PORT=3000
APP_MODE=web # 'web' or 'cli'

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=edvance

EMAIL_SERVER_API_KEY=
EMAIL_SMTP_HOST=smtp.example.com:587
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
EMAIL_SMTP_MAIL_FROM=noreply@example.com
